input {
  padding: 20px;
  /* margin: 20px; */
  width: 65%;
  font-size: 25px;
  font-family: "'Open Sans', sans-serif";
  border-radius: 15px;
  margin: 20px;
  /* margin-left: 15%; */
  align-items: center;
}
